:root {
  --color-background: #fff;
  --color-dark-text: #151c3b;
  --color-dark-text-rgb: 21, 28, 59;
  --color-border: #bdc0cf;
  --color-body: #212529;
  --color-accent: #e9ebf3;
  --color-light-text: #808080;
}
